# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project\Computer-Science-And-Technology\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
